* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/** navbar start **/
header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #000 59%, #ff0000 50%);
    position: absolute;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: -34rem;
    left: -7rem;
    width: 35%;
    height: 123%;
    background-color: #ff0000;
    transform: skew(-46deg);
    box-shadow: 26px 32px 64px 49px #000;
}

::placeholder {
    color: #fff;
    border: none;
    transition: color .3s ease-in-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
    padding: 1rem 30px;
}

.left-nav {
    display: flex;
    align-items: center;
    animation: slideInLeft 1s ease-in-out;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.left-nav .logo img {
    height: 40px;
    position: relative;
}

.left-nav form {
    margin-left: 20px;
    position: relative;
    animation: fadein 1s ease-in-out .5s backwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.left-nav form input[type="search"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 15px 20px 15px 40px;
    border-radius: 15px;
    box-shadow: inset 0 0 10px #000, 0 5px 10px #000;
    width: 300px;
    animation: input 1s ease-in-out .5s backwards;
    transition: all .5s ease-in;
    outline: none;
}

@keyframes input {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.left-nav i {
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
}

.left-nav form input[type="search"]:focus {
    box-shadow: inset 0 0 15px #000, 0 10px 18px #000;
    width: 350px;
}

.right-nav {
    margin-left: 27rem;
    font-size: 1.3rem;
    animation: slideInRight 1s ease-in-out;
    transition: all 1s ease;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav-links li {
    margin-left: 80px;
    animation: fadein 1s ease-in-out .5s backwards;
}

.nav-links li:nth-child(1) {
    animation-delay: 0.9s;
}
.nav-links li:nth-child(2) {
    animation-delay: 1s;
}
.nav-links li:nth-child(3) {
    animation-delay: 1.2s;
}
.nav-links li:nth-child(4) {
    animation-delay: 1.5s;
}
.nav-links li:nth-child(5) {
    animation-delay: 1.8s;
}

.nav-links a {
    color: #fff;
    transition: all .3s ease;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: all .4s ease-in-out;
}

.right-nav .profile-link img {
    height: 40px;
    border-radius: 50%;
}

.nav-links a:hover {
    text-shadow: 0 0 10px #000;
}

.nav-links li:not(:last-child) a:hover::after {
    transform: scaleX(1);
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}
/** navbar end **/


/** main image start **/
.img img {
    width: 600px;
    transform: rotate(-43deg);
    position: absolute;
    left: 26rem;
    top: 12rem;
    z-index: 1;
    animation: fadein 1s ease-in-out .5s backwards;
}
/** main image end **/


/** square start **/
.square-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    position: absolute;
    left: 60rem;
    top: 18rem;
    transform: rotate(45deg);
    z-index: 2;
}

.square {
    width: 5px;
    margin: 10px;
    box-shadow: 0 2px 5px #000;
    animation: lineanimation 1s ease-in-out infinite alternate;
}

@keyframes lineanimation {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(1.2);
    }
}

.red {
    background-color: red;
}
.white {
    background-color: #fff;
    border: 1px solid #000;
}

.square-container .square.red:nth-child(1) {
    height: 10rem;
    animation-delay: 0s;
}
.square-container .square.red:nth-child(3) {
    height: 15rem;
    animation-delay: 0.2s;
}
.square-container .square.red:nth-child(5) {
    height: 20rem;
    animation-delay: 0.4s;
}

.square-container .square.white:nth-child(2) {
    height: 22rem;
    animation-delay: 0.1s;
}
.square-container .square.white:nth-child(4) {
    height: 10rem;
    animation-delay: 0.3s;
}
.square-container .square.white:nth-child(6) {
    height: 17rem;
    animation-delay: 0.5s;
}
/** square end **/



/** slider start **/
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 44px;
    left: 27rem;
}

.slider a {
    display: inline-block;
    padding: 12px;
    border-radius: 14px;
    background-color: #fff;
    margin-left: 15px;
    transition: all 1s ease;
}

.slider a img {
    width: 99px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.slider a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px red;
    text-decoration: underline;
}
/** slider end **/


/** social start **/
.social {
    position: absolute;
    left: 1rem;
    bottom: 38rem;
    display: flex;
    transform: rotate(-44deg);
    background-color: #000;
    border-radius: 18px;
    box-shadow: 0 0 10px #000;
}

.social li {
    font-size: 2rem;
    margin: 10px;
    color: red;
    animation: fadeindown 1s ease-in-out backwards;
}

@keyframes fadeindown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.social li:nth-child(1) {
    animation-delay: .2s;
}
.social li:nth-child(2) {
    animation-delay: .4s;
}
.social li:nth-child(3) {
    animation-delay: .6s;
}
.social li:nth-child(4) {
    animation-delay: .8s;
}
.social li:nth-child(5) {
    animation-delay: 1s;
}
.social li:nth-child(6) {
    animation-delay: 1.2s;
}

.social li i {
    transition: all .5s ease-in-out;
}
.social li i:hover {
    color: #fff;
    cursor: pointer;
}
/** social end **/



/** air start **/
.air {
    position: absolute;
    right: 0;
    bottom: 33rem;
    color: #fff;
    width: 39%;
}

.nike {
    margin-bottom: 18px;
}

.air p {
    width: 73%;
}

.nike h1 {
    font-size: 5rem;
    text-shadow: 14px 1px 4px red;
}

.animated-text {
    opacity: 0;
    animation: fadein 1s ease-in-out .5s forwards;
}

.delay-1 {
    animation-delay: .5s;
}
.delay-2 {
    animation-delay: 1s;
}
.delay-3 {
    animation-delay: 1.5s;
}
.delay-4 {
    animation-delay: 2s;
}
.delay-5 {
    animation-delay: 2.5s;
}
.delay-6 {
    animation-delay: 3s;
}
.delay-7 {
    animation-delay: 3.5s;
}
.delay-8 {
    animation-delay: 4s;
}

.air li {
    float: left;
    position: relative;
    top: 10rem;
    margin-left: 53px;
    left: -4rem;
    border: 2px solid red;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all .5s ease;
    opacity: 0;
    animation: fadein 1s ease-in-out .5s forwards;
}

.air li:nth-child(1) {
    animation-delay: 1s;
}
.air li:nth-child(2) {
    animation-delay: 1.5s;
}
.air li:nth-child(3) {
    animation-delay: 2s;
}
.air li:nth-child(4) {
    animation-delay: 2.5s;
}

.air li:hover {
    color: red;
    border-color: #fff;
}

.img img {
    max-width: 100%;
    transition: transform .3s ease;
}

.sp {
    position: absolute;
    left: 0;
    top: 17rem;
    font-size: 4rem;
    font-weight: bold;
    opacity: 0;
    animation: fadein 1s ease-in-out .5s forwards;
    animation-delay: 1.5s;
}

.air img {
    width: 91px;
    position: absolute;
    bottom: -28rem;
    border: 2px solid red;
    padding: 16px;
    border-radius: 86px;
    opacity: 0;
    animation: fadein 1s ease-in-out .5s forwards;
    animation-delay: 2.5s;
}

.counter {
    color: #fff;
    border-radius: 83px;
    border: 2px solid red;
    position: absolute;
    bottom: -24.5rem;
    right: 18rem;
    background-color: red;
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.1rem;
    font-weight: bold;
    opacity: 0;
    animation: fadein 1s ease-in-out .5s forwards;
    animation-delay: 2s;
}

button {
    position: absolute;
    padding: 25px;
    bottom: -28rem;
    left: 0;
    border-radius: 99px;
    width: 397px;
    transition: all 1s ease;
    color: #fff;
    font-size: 1.5rem;
    background-color: red;
    border: none;
    opacity: 0;
    animation: fadein 1s ease-in-out .5s forwards;
    animation-delay: 1s;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px red;
    background-color: transparent;
}








/** air end **/




















